body {
	font-family: Helvetica, Arial;
	font-size: 13px;
	line-height: 1.6em;
}

a, a:visited, a:hover {
	color:#3c3c3c;
}

p, ul, li {
	color:#575757;
	font-weight: 200;
}

h2,h3,h4 {
	letter-spacing: 0.05em;
	font-weight: 300;
}