.navbar {
	background:#FFFFFF;
	border:none;
}

.navbar-header {
	float:none;
}

#header-logo {
	padding:15px 0 10px;
}

.header-logo_nonmobile img{
	margin: 0 auto;
}

.header-logo_mobile {
	float:left;
	width:70%;
}