.navbar {
	background:#FFFFFF;
	border:none;
}

.navbar-header {
	float:none;
}

.navbar-collapse {
	width:100%;
	text-align: center;
}

.navbar-collapse ul {
	list-style: none; 
	position: relative; 
	float: left; 
	display: block; 
	left: 50%;
}

.navbar-collapse li {
	position: relative; 
	float: left; 
	display: block; 
	right: 50%;
	border-bottom: 1px solid black;
	padding-bottom: 3px;
}

.navbar-default .navbar-nav > li > a {
	padding:6px 11px;
}

.navbar-default .navbar-nav > li > a:hover {
	background-color: #000;
	color:#fff;
}

.navbar-collapse a {
	text-transform:uppercase;
	font-size: 10px;
	color:#000000;
	letter-spacing: 1px;
}

.navbar-collapse.in {

}

.navbar-collapse.in ul, .navbar-collapse.collapsing ul{
	float:none;
	left:0;
}

.navbar-collapse.in li, .navbar-collapse.collapsing li{
	right:0;
	float:none;
}

#header-logo {
	padding:15px 0 15px;
}

.header-logo_nonmobile img{
	margin: 0 auto;
}

.header-logo_mobile {
	float:left;
	width:70%;
}