.navbar {
	background:#FFFFFF;
	border:none;
	margin-bottom: 0;
}

.navbar-header {
	float:none;
}

.nav-primary {
	border-bottom: 1px solid black;
}

.navbar-collapse.collapse {
	overflow: hidden !important;
}

.navbar-collapse {
	width:100%;
	text-align: center;
}

.navbar-collapse ul {
	list-style: none; 
	position: relative; 
	float: left; 
	display: block; 
	left: 50%;
}

.navbar-collapse li {
	position: relative; 
	float: left; 
	display: block; 
	right: 50%;
	padding-bottom: 3px;
}

.navbar-default .navbar-nav > li > a {
	padding:4px 17px;
}

.navbar-default .navbar-nav > li > a:hover {
	background-color: #000;
	color:#fff;
}

.navbar-collapse a {
	text-transform:uppercase;
	font-size: 11px;
	color:#000000;
	letter-spacing: 1px;
}

.navbar-collapse.in {

}

.navbar-collapse.in ul, .navbar-collapse.collapsing ul{
	float:none;
	left:0;
}

.navbar-collapse.in li, .navbar-collapse.collapsing li{
	right:0;
	float:none;
}

#header-logo {
	position: relative;
	padding:25px 0 20px;
}

.header-logo_nonmobile img{
	margin: 0 auto;
}

#header-logo.header-logo_mobile {
	float:left;
	padding:0;
	width:70%;
}

.social_icons {
	display: inline-block;
	vertical-align: bottom;
}

.social_icons img {
	opacity: 0.15;
	width:25px;
	height:auto;
}

.social_icons img:hover {
	opacity: 0.25;
}

.social_corner {
	position:absolute;
	top:15px;
	right:35px;
}

.login_actions {
	display: inline-block;
	vertical-align: bottom;
	margin-right: 15px;
}

.login {
	color:#747474;
	text-decoration: underline;
}

.login:hover {
	opacity: 0.8;
}

.login-mobile {
	display: block;
	margin-top: 5px;
}