.create-user-manually{
  width: 100%;
  padding: 10px 10px;
	background: grey;
	border-color: grey;
	margin-bottom: 35px;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 10px 10px;
	background: grey;
	border-color: grey;
	margin-bottom: 10px;
}

.fileUpload:hover, .create-user-manually:hover {
	background:grey;
	opacity: 0.8;
	border-color: grey;
}

input.uploadexcel_btn {
	width:100%;
	padding:10px;
}



.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    // filter: alpha(opacity=0);
}
