body {
	font-family: Arial;
}

.displayNoneOnInit{
  display: none;
}

.container {
	padding-left: 60px;
	padding-right: 60px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
}
